body {
    background: #555;
}

.gallery-container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.node-container {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    margin: 1px;
    background: #555;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.node {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.image {
    position: relative;
}

.image > h2 {
    position: absolute;
    word-wrap: break-word;
    line-height: 30px;
    left: 0;
    width: 100%;
    bottom: 165px;
    color: white;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}

img:hover {
    opacity: 0.9;
}

img {
    display: inline-block;
}

video {
    display: inline-block;
}
